# imports

In [4]:
import torch
import torch.nn as nn
from torch.optim import Adam
from torch.utils.data import Dataset, DataLoader
from torchsummary import summary
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
device = 'cuda' if torch.cuda.is_available() else 'cpu'
device

'cuda'

# Read & Clean Dataset

In [12]:
data_df = pd.read_csv('Dataset/riceClassification.csv')
data_df.head()

   id  Area  MajorAxisLength  ...  Roundness  AspectRation  Class
0   1  4537        92.229316  ...   0.764510      1.440796      1
1   2  2872        74.691881  ...   0.831658      1.453137      1
2   3  3048        76.293164  ...   0.868434      1.465950      1
3   4  3073        77.033628  ...   0.870203      1.483456      1
4   5  3693        85.124785  ...   0.874743      1.510000      1

[5 rows x 12 columns]

In [13]:
data_df.dropna(inplace=True) # remove empty rows
data_df.drop(['id'], axis=1, inplace=True)
data_df.shape

(18185, 11)

In [ ]:
data_df.head()

   Area  MajorAxisLength  MinorAxisLength  ...  Roundness  AspectRation  Class
0  4537        92.229316        64.012769  ...   0.764510      1.440796      1
1  2872        74.691881        51.400454  ...   0.831658      1.453137      1
2  3048        76.293164        52.043491  ...   0.868434      1.465950      1
3  3073        77.033628        51.928487  ...   0.870203      1.483456      1
4  3693        85.124785        56.374021  ...   0.874743      1.510000      1

[5 rows x 11 columns]

In [16]:
print(data_df['Class'].unique())
print(data_df['Class'].value_counts())

[1 0]
Class
1    9985
0    8200
Name: count, dtype: int64

In [17]:
original_df = data_df.copy()

# normalize the data
for col in data_df.columns:
    data_df[col] = data_df[col]/data_df[col].abs().max()

data_df.head()

       Area  MajorAxisLength  MinorAxisLength  ...  Roundness  AspectRation  Class
0  0.444368         0.503404         0.775435  ...   0.844997      0.368316    1.0
1  0.281293         0.407681         0.622653  ...   0.919215      0.371471    1.0
2  0.298531         0.416421         0.630442  ...   0.959862      0.374747    1.0
3  0.300979         0.420463         0.629049  ...   0.961818      0.379222    1.0
4  0.361704         0.464626         0.682901  ...   0.966836      0.386007    1.0

[5 rows x 11 columns]

# Data splitting

In [18]:
X = np.array(data_df.iloc[:,:-1]) #take all rows and all colums except the last one (class)
Y = np.array(data_df.iloc[:, -1]) #take all rows and the last colum (class)